<div class="container-fluid h-130">
  <h1 class="d-none">LetsMIAM</h1>
  <%= image_tag("logo.png", width: 400, class: "mx-auto d-block pt-5px") %>
</div>

<%= render 'layouts/navbar', actual_page: 1 %>

<%= render 'restaurants/best_score', restaurants: @best_rest, from_home: true %>
<%= render 'restaurants/selections', restaurants: @selection_rest, from_home: true %>
<%= render 'restaurants/discover', restaurants: @discover_rest,from_home: true %>

<%= javascript_pack_tag 'restaurant_index.js' %>
