<%= render 'layouts/navbar', actual_page: nil %>

<div class="container-xxl">
  <h1>Enregistrement</h1>
  <div class="row row-cols-md-2">
    <div class="col">

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @user.errors.each do |error| %>
              <li class="alert alert-danger"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_with model: @user, url: sign_up_path do |f| %>
        <p>
          <%= f.label 'Surnom : ', class: 'form-label' %><br>
          <%= f.text_field :nickname, class: 'form-control' %>
        </p>
        <p>
          <%= f.label 'Mot de passe : ', class: 'form-label' %><br>
          <%= f.password_field :password, class: 'form-control' %>
        </p>
        <p>
          <%= f.label 'Confirmation mot de passe : ', class: 'form-label' %><br>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </p>
        <p>
          <%= f.submit 'Enregistrer', class: 'btn btn-success' %>
        </p>
      <% end %>
    </div>
  </div>
</div>