<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
  <div class="container-fluid container-xxl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link <% if actual_page == 1 %>active<% end %>" <% if actual_page == 1 %>aria-current="page"<% end %> href="<%= url_for(action: 'index', controller: 'homepage') %>">Accueil</a>
        <a class="nav-link <% if actual_page == 2 %>active<% end %>" <% if actual_page == 2 %>aria-current="page"<% end %> href="<%= url_for(action: 'best_score', controller: 'restaurants') %>">Meilleures Notes</a>
        <a class="nav-link <% if actual_page == 3 %>active<% end %>" <% if actual_page == 3 %>aria-current="page"<% end %> href="<%= url_for(action: 'discover', controller: 'restaurants') %>">A Découvrir</a>
        <a class="nav-link <% if actual_page == 4 %>active<% end %>" <% if actual_page == 4 %>aria-current="page"<% end %> href="<%= url_for(action: 'selections', controller: 'restaurants') %>">Sélection</a>
      </div>
    </div>
    <div class="d-flex">
      <% if Current.user %>
        <%= button_to 'Mon profil', my_profile_url, method: 'get', class: "btn btn-outline-success mr-5" %>
        <%= button_to 'Se déconnecter', logout_path, method: :delete, class: "btn btn-outline-danger" %>
      <% else %>
        <%= link_to 'S\'enregistrer', sign_up_path, class: "link-dark link-success mr-5 pt-7" %>
        <%= button_to 'Se connecter', sign_in_path, class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>

<div class="container-fluid container-xxl">
  <% flash.each do |type, msg| %>
<!--    TODO : Handle type with helper -->
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
</div>
